*{
	margin: 0px;
	padding: 0px;
}

body {
	font-family: 'Roboto', serif;
}

body,html {
	height: 100%;
}

#logo {
	width: 10%;
}

#landing_img {
	width: 55%;
}

.footer > div > a{
	text-decoration: inherit;
  	color: inherit;
}

.try_model_section {
	background-color: #27323d;
}

.landing_container {
	height: 100%;
	background-color: #f7fffd;
}

.footer{
	background-color: #031729;
}