<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BSen-A</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link rel="stylesheet" href={{ url_for('static', filename='/css/client_side.css' ) }}>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto">

    <script src={{ url_for('static', filename='/js/jquery_3.6.1.min.js' ) }}></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src={{ url_for('static', filename='/js/client_side.js' ) }}></script>
    <script src="https://kit.fontawesome.com/ac3d771995.js" crossorigin="anonymous"></script>

</head>

<body>

    <div class="landing_container p-5">

        <div class="d-flex flex-column justify-content-center h-100">
            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <img id="logo" src="../static/images/logo.png" alt="">
                    </div>
                    <p class="h4">Analisis Sentimen</p>
                    <p class="h1 text-primary">Reviu Produk Kosmetik</p>
                    <p class="h5 mt-3">Dibuat dengan arsitektur LSTM</p>
                </div>
                <div class="col-6 d-flex justify-content-end" style="margin-top: -80px;">
                    <img class="" id="landing_img" src="../static/images/landing.webp" alt="">
                </div>
            </div>
        </div>

    </div>
    <div class="try_model_section p-5">
        <p class="h5 text-white">Coba Modelnya!</p>
        <p class="w-50 ms-3 text-white">
            Coba model ini dengan memasukkan teks review dengan sentimen positif maupun negatif
        </p>
        <div class="mt-3">
            <div class="mb-3 w-50">
                <select class="form-select mb-2" id="rating">
                    <option value="" disabled selected>Pilih Rating</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <textarea type="text" class="form-control" id="comment" placeholder="Komentar"></textarea>
            </div>

            <button type="button" class="btn btn-warning" id="predict_sentiment" style="width: 10%;">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" id="progress_circle" style="display: none;"></span>
                Prediksi
            </button>
        </div>
    </div>

    <footer class="text-white footer p-3">
        <div class="p-2" style="text-align: center;">
            <a href="https://www.linkedin.com/in/gustana" target="_blank">
                <i class="fa-brands fa-linkedin-in fa-xl me-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Linkedin"></i>
            </a>
            <a href="https://www.github.com/gustana" target="_blank">
                <i class="fa-brands fa-github fa-xl me-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Github"></i>
            </a>
            <a href="https://www.medium.com/@gustana9" target="_blank">
                <i class="fa-brands fa-medium fa-xl me-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Medium"></i>
            </a>
            <a href="https://www.instagram.com/gustana" target="_blank">
                <i class="fa-brands fa-instagram fa-xl" title="Instagram"></i>
            </a>
        </div>
    </footer>

    <!--* modal -->
    <div class="modal fade" id="sentimentModal">
        <div class="modal-dialog modal-dialog-centered" aria-labelledby="exampleModalLabel" aria-hidden="true">

            <div class="modal-content p-2">
                <div class="modal-header text-center">
                    <p class="h5 modal-title" id="modal-title"></p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                <div class="modal-body">
                    <p id="modal-message" class="d-flex justify-content-center"></p>
                </div>
            </div>

        </div>
    </div>

</body>

</html>